body{
    padding:0 ;
    margin:0 ;
    box-sizing: border-box;
    background-color:white  ;
}

*{
     list-style: none;
    text-decoration: none;
}
.navbar{
    width:100% ;
    height: auto;
    background-color:rgb(189, 74, 70);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}
.navbar img{
    height:100px;
    width:100px;
    border-radius:50% ;
    border: 8px dashed white;
     margin-left:10px ;
}
#logo{
   text-align:center;
    font-size:50px ;
    color:white;
    font-style: italic;
    margin-left:15%;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
      

.navbar ul{
    width: auto;
    align-self: last baseline;
  margin-right: 2%;
  padding:10px;
  display: flex;
  justify-content: space-around;
}
 
.navbar ul li{
   text-decoration: none;
    display: inline-block; 
    margin-right: 20px;
}
.navbar h2{
    color:white ;
}
.navbar ul li a {
  padding: 7px;   /* added */
  text-decoration: none;
  margin-left:10px;
  font-size:22px;
  font-weight:bold;
  color:white;
}

.navbar ul li a:hover {
  color:yellow;
  background-color:maroon;
  border-radius:5px;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
}
.word{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    align-items: center;
    font-size:30px;
  
}

.word:before, .word:after{
    content: "";
    height:3px ;
    background-color: black;
    display: block;
}
.background{
    position:relative;
    top:0;
    left:0;
    width:100% ;
    min-height:100vh;
    background-image:url("../Resources/model.jpg") ;
    background-size: cover;
    margin:80px 0px 100px 0px ;
    z-index:-1 ;
    box-shadow:10px 10px 5px rgb(214, 135, 148) ;
    margin-top:-60px ;
    /* filter: blur(3px); */
}

.quote h4{
    padding-top:15% ;
    text-align: center;
    font-size:80px ;
    font-style: italic;
   margin-bottom:100px ;
    color:white ;
  
}
.quote p{
    color:white ;
    font-size:40px ;
    text-align: center;
    margin-bottom:50px ;
}

.wrapper{
    display: flex;
    width :100%;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px 10px 10px ;
    margin:-40px 50px 0px 50px ;
    
}
.pattern{
    display: flex;
    width :100%;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px 10px 10px ;
    margin:40px 50px 0px 50px ;
    /* display: none; */
} 
.sequence{
    display: flex;
    width :100%;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px 10px 10px ;
    margin:40px 50px 0px 50px ;
    /* display: none; */
}
.card{ 
    width:800px ;
    height:500px ;
    padding:2rem 1rem;
    background-color: rgb(169, 212, 249);
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow:0px 7px 10px rgb(228, 93, 10)   ;
    transition:o.5s ease-in-out ;
    margin-right: 50px;
  
}

.card {
    display: none; /* hide all cards by default */
}

.card.show {
    display: block; /* show only selected cards */
}


.card:hover{
transform:translateY(20px);
}

.card:before{
    position: absolute;
    width:100% ;
    height:100% ;
    top:0;
    left:0;
    background:linear-gradient(to bottom,rgba(0,176,155,0.5),rgb(158, 242, 13)) ;
    z-index:2;
    transition:0.5s all;
    opacity:1;
    display: block;
}
.card img{
    width:100% ;
    height:100% ;
    object-fit: cover;
    position: absolute;
    top:0 ;
    left: 0;
} 
.card:hover:before{
      opacity: 1;
     
}
.card .info{
    position: relative;
    z-index: 3;
    transform: translateY(30px);
    transition: 0.5 all;
}

.card .info h2{
letter-spacing:1px ;
font-size:25px ;
margin-top:8px ;
margin-bottom:20px ;
color:white;
}

.card .info p{
    color:white ;
}

.card .info .btn{
text-decoration: none;
padding: 0.5rem 1rem;
color: black;
font-size: 20px;
cursor: pointer;
font-weight:bold ;
background-color: aqua;
}

#load-more {
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(189, 74, 70);
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: -50px;
}

#load-more:hover {
    background-color: rgb(147, 35, 30);
}


.profile {
    width: 420px;
    padding: 30px;
    background: #3cccf4;
    border-radius: 30px;
    text-align: center;        /* centers everything */
    margin: 50px auto;         /* centers horizontally */
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 15px;
}

.profile h4 {
    font-size: 22px;
    margin: 10px 0 5px;
    font-weight: bold;
    font-style: italic;
    color: #003344;
}

.profile h5 {
    font-size: 18px;
    margin-bottom: 12px;
    color: #004455;
    font-style: oblique;
}

.profile p {
    font-size: 17px;
    line-height: 1.4;
    font-weight: 500;
    color: #002b33;
}

footer{
    width:100% ;
    padding:2rem;
    background-color:rgb(215, 163, 215) ;
    margin-top:20px ;
}
.all-item{
    /* border:2px solid rgb(7, 7, 8) ; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.item-list{
    /* border:2px solid black; */
    width:25% ;
}
.item-title{
   font-style: italic;
   font-size:30px ;
   font-weight: 600;
   /* min-height: 135px; */
}
.text{
    font-family: "Dancing Script", cursive;
   font-size:20px ;
      
}
.item-list ul a{
    color:black;
}
.item-list ul{
    min-height:135px ;
}
 