

body{
    padding:0 ;
    margin:0 ;
    box-sizing: border-box;
    background-color:white  ;
}

*{
     list-style: none;
    text-decoration: none;
}
.navbar{
    width:100% ;
    height: auto;
    background-color:rgb(189, 74, 70);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}
.navbar img{
    height:100px;
    width:100px;
    border-radius:50% ;
    border: 8px dashed white;
     margin-left:10px ;
}
#logo{
   text-align:center;
    font-size:50px ;
    color:white;
    font-style: italic;
    margin-left:15%;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
      

.navbar ul{
    width: auto;
    align-self: last baseline;
  margin-right: 2%;
  padding:10px;
  display: flex;
  justify-content: space-around;
}

.navbar ul li{
    text-decoration: none;
    display: inline-block; 
    margin-right: 20px;
}
.navbar h2{
    color:white ;
}
.navbar ul li a {
  padding: 7px;   /* added */
  text-decoration: none;
  margin-left:10px;
  font-size:22px;
  font-weight:bold;
  color:white;
}

.navbar ul li a:hover {
  color:yellow;
  background-color:maroon;
  border-radius:5px;
}


/* LOGIN BOX */
.display{
  width:50%;
  background-color:rgb(218, 212, 152);
  margin:auto;
  margin-top:5%;
  padding:20px 0;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.2);
}

form{
  width:70%;
  margin:auto;
  text-align:center;
}

input[type=text], input[type=password]{
  width:90%;
  padding:12px;
  margin:12px 0;
  border:1px solid rgb(227, 47, 47);
  border-radius:5px;
  font-size:18px;
}

/* BUTTONS */
button{
  background-color:rgb(62, 126, 205);
  color:white;
  padding:12px 0;
  margin:10px 0;
  border:none;
  cursor:pointer;
  width:70%;
  font-size:20px;
  border-radius:5px;
}

button:hover{
  background-color:rgb(3, 141, 141);
}

/* Cancel button */
.cancelbtn{
  background-color:#f33434;
  width:70%;
}

/* Avatar */
.imgcontainer{
  text-align:center;
  margin-bottom:15px;
}

.avatar{
  width:90px;
  height:90px;
  border-radius:50%;
}

/* Footer */
footer{
  width:100%;
  padding:2rem;
  background-color:rgb(215, 163, 215);
  margin-top:30px;
}

.all-item{
  display:flex;
  justify-content:center;
  gap:30px;
}

.item-list{
  width:22%;
}

.item-title{
  font-style:italic;
  font-size:30px;
  font-weight:600;
}

.text{
  font-family:"Dancing Script", cursive;
  font-size:20px;
}

.item-list ul a{
  color:black;
}

.footer-actions{
  display:flex;
  justify-content:center;
  gap:10px;
  align-items:center;
}
