body{
    padding:0 ;
    margin:0 ;
    box-sizing: border-box;
    background-color:white  ;
}

*{
     list-style: none;
    text-decoration: none;
}
.navbar{
    width:100% ;
    height: auto;
    background-color:rgb(189, 74, 70);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
}
.navbar img{
    height:100px;
    width:100px;
    border-radius:50% ;
    border: 8px dashed white;
     margin-left:10px ;
}
#logo{
   text-align:center;
    font-size:50px ;
    color:white;
    font-style: italic;
    margin-left:15%;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
      

.navbar ul{
    width: auto;
    align-self: last baseline;
  margin-right: 2%;
  padding:10px;
  display: flex;
  justify-content: space-around;
}
 
.navbar ul li{
   text-decoration: none;
    display: inline-block; 
    margin-right: 20px;
}
.navbar h2{
    color:white ;
}
.navbar ul li a{
text-decoration: none;
/* margin-left:10% ; */
font-size:22px;
font-weight: bold;
color:white;
}

.navbar ul li a:hover{
  color:yellow;
   border-radius:5px ;
   /* color:rgb(72, 2, 57) ; */
  background-color:maroon ; 
   /* transform: scale(1.5); */
   padding:7px ;
   
}


.line{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
}
.word{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    align-items: center;
    font-size:30px;
  
}

.word:before, .word:after{
    content: "";
    height:3px ;
    background-color: black;
    display: block;
}
.background{
    position:relative;
    top:0;
    left:0;
    width:100% ;
    min-height:100vh;
    background-image:url("../Resources/model.jpg") ;
    background-size: cover;
    margin:80px 0px 100px 0px ;
    z-index:-1 ;
    box-shadow:10px 10px 5px rgb(214, 135, 148) ;
    margin-top:-60px ;
    /* filter: blur(3px); */
}

.quote h4{
    padding-top:15% ;
    text-align: center;
    font-size:80px ;
    font-style: italic;
   margin-bottom:100px ;
    color:white ;
  
}
.quote p{
    color:white ;
    font-size:40px ;
    text-align: center;
    margin-bottom:50px ;
}

.wrapper{
    display: flex;
    width :100%;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px 10px 10px ;
    margin:-40px 50px 0px 50px ;
    
}
.pattern{
    display: flex;
    width :100%;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px 10px 10px ;
    margin:40px 50px 0px 50px ;
    /* display: none; */
} 
.sequence{
    display: flex;
    width :100%;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px 10px 10px ;
    margin:40px 50px 0px 50px ;
    /* display: none; */
}
.card{ 
    width:800px ;
    height:500px ;
    padding:2rem 1rem;
    background-color: rgb(169, 212, 249);
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow:0px 7px 10px rgb(228, 93, 10)   ;
    transition:o.5s ease-in-out ;
    margin-right: 50px;
  
}

.card:hover{
transform:translateY(20px);
}

.card:before{
    position: absolute;
    width:100% ;
    height:100% ;
    top:0;
    left:0;
    background:linear-gradient(to bottom,rgba(0,176,155,0.5),rgb(158, 242, 13)) ;
    z-index:2;
    transition:0.5s all;
    opacity:1;
    display: block;
}
.card img{
    width:100% ;
    height:100% ;
    object-fit: cover;
    position: absolute;
    top:0 ;
    left: 0;
} 
.card:hover:before{
      opacity: 1;
     
}
.card .info{
    position: relative;
    z-index: 3;
    transform: translateY(30px);
    transition: 0.5 all;
}

.card .info h2{
letter-spacing:1px ;
font-size:25px ;
margin-top:8px ;
margin-bottom:20px ;
color:white;
}

.card .info p{
    color:white ;
}

.card .info .btn{
text-decoration: none;
padding: 0.5rem 1rem;
color: black;
font-size: 20px;
cursor: pointer;
font-weight:bold ;
background-color: aqua;
}
#load-more{
 margin-top:40px ;
display: inline-block;
padding:10px 30px ;
border:1px solid black ;
color: black;
font-size:20px;
background-color: rgb(166, 234, 239);
cursor:pointer;
margin-left:45%;
}

#load-more:hover{
    background-color:rgb(197, 83, 188) ;
    border-color: aliceblue;

}

.profile{
    width:500px;
    height:340px ;
    background-color: #3cccf4;
    /* display: flex; */
    margin-right: auto;
    margin-left: auto;
    margin-top:50px ;
    border-radius:40px ;
    margin-top:40px ;
}

.profile img{
    width: 100px;
    height:100px ;
    border-radius:50%;
    margin-top: 39px;
    /* margin-right: ; */
    margin-left: 38%;
}

.profile h4{
font-style: italic;
text-align: center;
font-size:20px ;
}

.profile h5{
    font-style:oblique;
    text-align: center;
    font-size:20px;
    
}
.profile p{
font-weight:500;
font-style:oblique ;
font-size:20px ;
}
footer{
    width:100% ;
    padding:2rem;
    background-color:rgb(215, 163, 215) ;
   margin-top:20px ;
}
.all-item{
    /* border:2px solid rgb(7, 7, 8) ; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.item-list{
    /* border:2px solid black; */
    width:25% ;
}
.item-title{
   font-style: italic;
   font-size:30px ;
   font-weight: 600;
   /* min-height: 135px; */
}
.text{
    font-family: "Dancing Script", cursive;
   font-size:20px ;
      
}
.item-list ul a{
    color:black;
}
.item-list ul{
    min-height:135px ;
}
 